.characterEditor {
  padding-top: 32px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 32px;
  width: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
}

.controlColumn {
  display: flex;
  position: absolute;
  bottom: -4px;
  left:5px;
  gap: 2rem;
  width: 100vw;
  isolation: isolate;
  overflow-x: scroll;
  padding-inline-end: 5px;
}


@media (min-width:641px) {
  .controlColumn {
    flex-direction: column;
    position:static;
    gap: 2rem;
    width: 50%;
    isolation: isolate;
    overflow-x: visible;
  }

  .darkbg {
    background: hsl(195, 25%, 86%);
    height: 300px;
    width: 100vw;
    position: fixed;
    bottom:0;
  }

  .characterEditor {
    padding-top: 128px;
  }
  
  .header {
    padding-bottom: 64px;
    width: 65%;
  }
  
}



